table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 5%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table_id{
  width: 50rem;
  height: 50rem;
}

.modal-body{
  height: 70rem!important;
  color:red;
  text-align: center;
}


#a #b #c{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-top: 10px;
  width: 14rem;
  height: 2rem;
}
