@font-face {
  font-family: "Font Title";
  src: url(../fonts/PanfletaStencil-ExtraBold.ttf) format("truetype");
}

.help {
  position: fixed;
  z-index:1;
  bottom: 5%;
  left: 5%;
  display: inline-block;
}

#HLP{
  height: 80px;
  width: 80px;
}

#title{
  font-family: Font Title;
  font-size: 75px;
  text-align: center;
  color: crimson;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#bd {
  background-image: url(../img/poster.jpg);
}

#playBTN{
  position: relative;
  top: 20%;
  left: 35%;
}

.play_game {
  height: 500px;
  width: 100%;
  display: none;
}

#ifr{
  position: absolute;
  height: 450px;
  width: 100%;
  display: none;
}

.new_game_class{
  position: absolute;
  height: 450px;
  width: 100%;
  display: none;
}

.chart{
  position: fixed;
  bottom: 5%;
  left: 90%;
  display: inline-block;
}

#CHART{
  height: 100px;
  width: 100px;
}
