html, body {
  height: 100%;
}

body {
  margin:0px;
  padding: 0px;
}

.wrap{
  background: url(../img/poster.jpg) no-repeat bottom left;
  background-size: 100% 100%;
  width: 100%;
  height: 84%;
}

@font-face {
  font-family: "Font Title";
  src: url(../fonts/PanfletaStencil-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "Timer";
  src: url(../fonts/Colleged.ttf) format("truetype");
}

#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:20px;
  text-align: center;
  font-family: Font Title;
  font-size: 70px;
  color: crimson;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 70px;
}

.play_btn_div{
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  width: 100%;
  height: 84%;
}

#playBTN{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

  /**
      game div
   **/
.play_game {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 88%;
  display: none;
  position:relative;
  border-top: 2px solid red;

}

#play_game_id {
  display: none;
  box-sizing: border-box;
  border-top: 2px solid red;
  width: auto;
  margin:auto;
  position:relative;

}

#mute_unmute_div_id{
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
}

#mute_unmute {
  float: right;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.4);

}

#HLT_id{
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
}


#HLT_IMG{
  float: left;
  height: 100px;
  width: 100px;
  margin-left: 55px;
  margin-top: 10px;
}

#SPEED_id{
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
}


#SPEED_IMG{
  float: left;
  height: 100px;
  width: 100px;
  margin-left: 55px;
  margin-top: 30px;
}

#BRSK_id{
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
}


#BRSK_IMG{
  float: left;
  height: 100px;
  width: 100px;
  margin-left: 55px;
  margin-top: 50px;
}


#score {
  font-family: "Timer";
  display: block;
  position: absolute;
   color: black;
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 100;
  float:right;
  width: 7vw;
  height: 1.3vw;
  margin-left: 82%;
  margin-top: 4px;

}

#time{
  font-family: "Timer";
  display: block;
  position: absolute;
  color: black;
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 100;
  float:right;
  width:9.5vw;
  height: 1.3vw;
  margin-left: 70%;
  margin-top: 4px;

}

/**
    footer div
 **/
.footer {
  background-color: black;
  border-top: 2px solid red;
  height: 16%;
  box-sizing: border-box;
  width: auto;
  margin:auto;
  display: block;
}

.foot{
  background-color: black;
  border-top: 2px solid red;
  display: block;
  box-sizing: border-box;
  height: 16%;
  width: auto;
  margin:auto;
}

.column {
  width:31.5%;
  height:auto;
  float:left;
  margin:0 10px;
  text-align: center;
  color:red;
  font-family: "Font Title";
  font-size:25px;
}


#HLP{
  padding-top:1%;
  margin-left: 1%;
  height: 100px;
  width: 100px;
  float: left;
}


#ddlViewBy {
  height: 40px;
  width: 150px;
  font-family: "Font Title";
  font-size: 20px;
  border: 3px solid red;
  margin-top: 5%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#CHART{
  padding-top:1%;
  margin-left: 1%;
  height: 100px;
  width: 100px;
  float: right;
}


#play_pause{
  display:none;
  float: left;
  height: 100px;
  width: 100px;
  margin-top: 0.6%;
  margin-left: 43%;
}


#pause_div_id{
  width:100%;
  height: 100%;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  font-size: 100px;
  text-align: center;
  padding-top: 10%;
  color: red;
  font-family: Font Title;
}

#game_over_div_id{
  width:100%;
  height: 100%;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  font-family: Font Title;
  font-size: 70px;
  text-align: center;
  padding-top: 10%;
  color: red;
  float: inside;
  padding-left: 10px;
}

#game_over_restart_game_btn_id{
  float: inside;
}

#username_form_div{
  background: rgba(0, 0, 0, 0.4);
  width:38%;
  height: 10%;
  margin-left: 33%;
  margin-top: 1%;
  color: red;
  position: absolute;
}

#username_form{
  position: absolute;
  color: red;
  font-size: 14px;
  z-index: 1;
}

input[type=text]{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-top: 10px;
  width: 30rem;
  height: 2rem;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #afad4c;
  border: red;
  border-radius: 50px;
  color: #bf2020;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  height: 2rem;
  width: 10rem;
  margin-top: 1rem;
  margin-left: 18rem
}


#restart_game_btn_id{
  float: inside;
}


#hp{
  display: block;
  position: absolute;
  margin-left: 30px;
  margin-top:  10px;
  height: 20px;
  background-color: green;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding-bottom: 2px;
}

#speed{
  height: 20px;
  display: block;
  position: absolute;
  margin-left: 30px;
  margin-top:  30px;
  background-color: blue;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}

#berserk{
  height: 20px;
  display: block;
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
  background-color: red;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}


#health{
  position: absolute;
  height: 20px;
  width: 400px;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;

}
progress#health::-webkit-progress-value {
  background: #109b8b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

#speed_pb_id{
  position: absolute;
  height: 20px;
  width: 400px;
  margin-left: 100px;
  margin-top: 30px;
  border-radius: 2px;
  padding-bottom: 2px;
}

progress#speed_pb_id::-webkit-progress-value {
  background: #fbff1e;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#berserk_pb_id{
  position: absolute;
  height: 20px;
  width: 400px;
  margin-left: 100px;
  margin-top: 50px;
  border-radius: 2px;
  padding-bottom: 2px;
}

progress#berserk_pb_id::-webkit-progress-value {
  background: #9fa196;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progresses{
  box-sizing: border-box;
}

#canvas{
  position: relative;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 5%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table_id{
  width: 50rem;
  height: 50rem;
}

.modal-body{
  height: 70rem!important;
  color:red;
  text-align: center;
}
