html, body {
  height: 100%;
}

body {
  margin:0px;
  padding: 0px;
}

.wrap{
  background: url(../img/poster.jpg) no-repeat bottom left;
  background-size: 100% 100%;
  width: 100%;
  height: 85%;

}

.footer {
  background-color: gray;
  border-top: 2px solid red;
  display: block;
  box-sizing: border-box;
  height: 15%;
  width: 100%;
}

@font-face {
  font-family: "Font Title";
  src: url(../fonts/PanfletaStencil-ExtraBold.ttf) format("truetype");
}

#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:20px;
  text-align: center;
  width: 22%;
  font-family: Font Title;
  font-size: 75px;
  color: crimson;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#playBTN{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.play_game {
  height: 500px;
  width: 100%;
  display: none;
}

#game_ifrm{
  position: absolute;
  height: 64%;
  width: 100%;
  display: none;
}

.new_game_class{
  position: absolute;
  height:63%;
  width: 100%;
  display: none;
}

.chart{
  position: fixed;
  bottom: 5%;
  left: 90%;
  display: inline-block;
}

#CHART{
  height: 100px;
  width: 100px;
  align: left;
}

.help {
  position: fixed;
  z-index:1;
  bottom: 5%;
  left: 5%;
  display: inline-block;
}

#HLP{
  height: 80px;
  width: 80px;
  align: right;

}

canvas{
  position: absolute;
  height:63%;
  width: 100%;
  display: none;
  background-color:white!important;
}


